<div class="loading-container" ng-show="loading"><div loading is-shown="loading" class='loading loading--audioWave'></div></div>
<!--<div class="container">-->
<div class="contents">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        알람 상세
      </div>
      <div class="panel-body alarmDetail">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">호스트명</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.hostname }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">유형</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.type }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Zone</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.zone }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">상태</label>
            <div class="col-sm-9 control-span">
              <span ng-style="{color: ast.detail.state == 'ALARM' ? 'red' : ''}">{{ ast.detail.state }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">등급</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.severity }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">발생 일시</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.updateTime }}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">수식</label>
            <div class="col-sm-9 control-span">
              <span>{{ ast.detail.expression }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        알람 이력
        <button class="btn btn-default pull-right margin-horizontal-2" ng-class="{active:ast.timeRange=='30d'}" ng-click="ast.getAlarmStatusHistory('30d')">월</button>
        <button class="btn btn-default pull-right margin-horizontal-2" ng-class="{active:ast.timeRange=='1w'}" ng-click="ast.getAlarmStatusHistory('1w')">주</button>
        <button class="btn btn-default pull-right margin-horizontal-2" ng-class="{active:ast.timeRange=='1d'}" ng-click="ast.getAlarmStatusHistory('1d')">일</button>
      </div>
      <div class="panel-body alarmHistory" ng-show="ast.alarmStatusHistoryList">
        <ul class="list-group">
          <li class="list-group-item" ng-class="{warning: item.newState == 'ALARM' && $index == 0}" ng-repeat="item in ast.alarmStatusHistoryList">
            <h5 class="list-group-item-heading">[{{ item.time }}] <strong>현재: {{ item.newState }}</strong> / 이전: {{ item.oldState }}</h5>
            사유: {{ item.reason }}
          </li>
        </ul>
      </div>
      <div class="panel-body alarmHistory text-center" ng-show="ast.alarmStatusHistoryList == null">
        <span>No Data Available.</span>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        조치 이력
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="resolve" class="col-sm-1 control-label">조치 이력</label>
            <div class="col-sm-11" id="handling">
              <dl class="issue-action-list" ng-repeat="item in ast.alarmActionList">
                <dt>
                  <span class="date">{{ item.regDate }}</span>
                  <span class="name">{{ item.regUser }}</span>
                  <span class="link" ng-hide="ast.modifying==$index" ng-click="ast.setModifying($index)">수정</span>
                  <span class="link" ng-show="ast.modifying==$index" data-toggle="modal" data-target="#confirmModal" ng-click="ast.updateAction(item)">저장</span>
                  <span class="link" data-toggle="modal" data-target="#confirmModal" ng-click="ast.deleteAction(item.id)">삭제</span>
                </dt>
                <dd ng-hide="ast.modifying==$index"><p>{{ item.alarmActionDesc }}</p></dd>
                <dd ng-show="ast.modifying==$index"><textarea class="form-control" rows="3" ng-model="item.alarmActionDesc"></textarea></dd>
              </dl>
            </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="resolve" class="col-sm-1 control-label">조치 입력</label>
            <div class="col-sm-11">
              <textarea class="form-control" rows="5" id="resolve" placeholder="조치 내용 입력" ng-model="ast.alarmActionDesc"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
              <button type="submit" class="btn btn-success pull-right" ng-click="ast.insertAlarmAction()">저장</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
